  <!-- Your footer code goes here -->
  <div id="footer">
    <ul class="list-inline">
      <% ['facebook', 'twitter', 'instagram', 'youtube'].each do |account| %>
      <li> <a href=""> <i class="fa fa-<%=account%>"> </i> </a> </li>
      <% end %>
    </ul>
  </div>


